{% extends 'main.html' %}

{% block css %}
<style>
    @media (min-width:991.98px){
        .desktop{
            padding-top: 100px;
        }
    }
</style>
{% endblock %}

{% block content %}
<!-- <h1>Task:{{task}}</h1> -->

<section class="ftco-section bg-light" id="cards">
    <div class="container card-styles">
        <div class="row desktop">
            <div class="col">
                <div class="card">
                    <div class="icon-wrap d-flex flex-row justify-content-between px-4 pt-4">
                        <!-- <div class="icon d-flex justify-content-center align-items-center bg-info rounded-circle">
                            <span class="ion-logo-ionic text-light"></span>
                        </div> -->
                        {% if task.status %}
                        <span class="badge badge-pill badge-danger p-2 px-3 align-self-start">Completed</span>
                        {% else %}
                        <span class="badge badge-pill badge-success p-2 px-3 align-self-start">Working</span>
                        {% endif %}
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="{% url 'edit' task.id %}" class="btn btn-info btn-fab btn-round align-self"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            <a href="{% url 'delete' task.id %}" class="btn btn-danger btn-fab btn-round"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </div>
                    </div>
                  <div class="card-body pb-5 px-4">
                    <h5 class="card-title">{{task.title}}</h5>
                    <p class="card-text">{{task.description}}</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascript %}
{% endblock %}

